@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./landing";
@import "./about";
@import "./discover";
@import "./trips";
$bg-color: #fafafa;

body {
    font-family: "Poppins", sans-serif;
    background-color: $bg-color;
    color: #24272C;
    height: 100vh;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
li {
    transition: 0.5s;
    list-style-type: none;
}
li:hover {
    color: lightgray;
    transition: 0.5s ease-in-out;
}

